<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monkey Office</title>

        <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css" id="" media="print, projection, screen" />
    <script type="text/javascript" src="js/jquery-latest.js"></script> 
    <script type="text/javascript" src="js/jquery.tablesorter.js"></script>

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/file-tree.min.css" rel="stylesheet"
    <script type="text/javascript" src="../jquery-latest.js"></script>
    <script type="text/javascript" src="../jquery.tablesorter.js"></script>
    <script type="text/javascript">
    $(function() {
        $("table").tablesorter({debug: true});
    });
    </script>
</head>

<body>

    
        <td>
            <div class="container-fluid">
            <div class="row-fluid">
            <div class="span15">
            <div class="col-md-15"> 
           
            <!--<form class="form-horizontal" role="form">-->
                
                <h3>AUN 12.2: The training and development activites for both academic and support staff are adequate to the identified needs</h3>
       
                <h5>Table : Traning of support staffs in academic year</h5>
                <div id="tab_aun12.2.1">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Training Courses</a></th>
                            <th>Hr.</a></th>
                           
                        </tr>
                       
                       

                   
                    </thead>
                    <tbody>
                        
                      
                       
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        </tr>  
                        
                    </tbody>

                  </table>

                </div>


       
                <h5>Table : Training of support staffs in academic year</h5>
                <div id="tab_aun12.2.2">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>No.</a></th>
                            <th>Title</a></th>
                            <th>Name-Surname</a></th>
                            <th>Training Courses</a></th>
                            <th>Hr.</a></th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        </tr>  
                        
                    </tbody>

                  </table>

                </div>
                
                <h5>Table : Advancement of career titile</h5>
                <div id="tab_aun12.2.3">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>Academic year</a></th>
                            <th>Total staffs</a></th>
                            
                           
                        </tr>
                    </thead>
                    <tbody> 

                        <tr>
                        <td></td>
                        <td></td>
                        
                        </tr>  
                        
                    </tbody>

                  </table>

                </div>
                <div id="tab_aun12.2.4">
                  <table class="tablesorter">
                    <thead align="center">
                        <tr>
                            
                            <th>Academic year</a></th> 
                            <th>Middle Operational Level</a></th>
                            <th>Prof. Level</a></th>
                            <th>Expert Level</a></th>
                            <th>Senior Expert Level</a></th>
                           
                        </tr>
                    </thead>
                    <tbody> 

                        <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>  
                        
                    </tbody>

                  </table>

                </div>
            </div>
            </div>
            </div>
            </div>
            

        </td>



         
</body>



</html>
